nav{
    background-color: rgb(30, 59, 19);
    padding: 5px;
}
nav ul {
    text-align: center;
    font-size: 1.2em;
}
nav ul li{
    list-style-type: none;
    background-color: #b2b2b2;
    display: inline;
    padding: 15px;
    margin: 5px;
    border: 2px solid #bbff00b9;
    border-radius: 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li:hover{
    background-color: aliceblue;
}
header{
    background-color: #bbff00b9;
    padding: 10px;
}

body{
    font-family: Verdana;
    margin: 0;
    background-color: white;


}
table{
    width: 100%;
    border:1px solid black;
    border-collapse: collapse;
    font-size: 20px;
    margin :20px;
    
    }
th, tr, td{
    border :1px solid black;
    text-align: left;
}
.product{
    text-align: center;
    border: 5px solid black;
    margin: 10px;
    padding-right: 15px;
    padding-left: 15px;
}
.hatethisfooter{
    height: 234px;
}

.image{
    float: left;
    margin-right: 100px ;
    position: absolute;
    top: 8px;
    left : 20px;
    border: 2px solid black;
    border-radius: 30px;
}

#topname{
    text-align: right;
    opacity: 50%;
}

.bottonsborder{
    
    border: 4px dotted rgba(34, 99, 26, 0.91);
    
}

#subname{
    text-align: left;
    opacity: 100%;
    color: rgb(96, 138, 77);
}

.centerimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border: 5px solid rgb(21, 43, 13);
    width: 40%;
}

section p {
    color: black;
}

footer{
    border: 5px solid white;
    border-color: rgb(32, 66, 20);
    background-color: rgb(21, 43, 13);	
    position: static;
    text-align: center;
    padding: 7.5px;
    color: white;
    bottom: 0;
}

.hens{
    height: 400px;
    width: 500px;   
}

.lambsimage{
    width: 25%;
    border: 5px dashed rgb(6, 80, 6);
}

#paragraphFirst{
    display: block;
	white-space: nowarp;
}

#paragraphSecond{
    display: block;
 	white-space: nowarp;
}

.flex{
    display: flex;
}

.reverse{
    flex-direction: row-reverse;
}

p{
    margin: 0;
}